<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %X{key} will print the value for that key from the MDC -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg - userId=%X{userId} transactionId=%X{transactionId}%n</pattern>
        </encoder>
    </appender>

    <appender name="SQSAppender" class="com.mattvorst.shared.logging.appender.SQSAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="SQSAppender" />
    </root>
</configuration>