RewriteEngine On

RewriteCond %{REQUEST_URI} ^/error/?$ [NC]
RewriteRule ^.*$ /error.action [NC,L]

RewriteCond %{REQUEST_URI} ^/login/?$ [NC]
RewriteRule ^.*$ /login.action [NC,L]

RewriteCond %{REQUEST_URI} ^/admin/?$ [NC]
RewriteRule ^.*$ /admin.action [NC,L]

RewriteCond %{REQUEST_URI} ^/blog/?$ [NC]
RewriteRule ^.*$ /blog.action [NC,L]

RewriteCond %{REQUEST_URI} ^/blog/([0-9a-fA-F\-]+)/?.* [NC]
RewriteRule ^.*$ /blog-detail.action?contentUuid=%1 [NC,L]

RewriteCond %{REQUEST_URI} ^/\d+/(\S+)$ [NC]
RewriteRule ^.*$ /%1 [NC,L]


# DISABLE CACHING
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<FilesMatch "apple-app-site-association">
    <IfModule mod_headers.c>
        Header set Content-Type "application/json; charset=utf-8"
    </IfModule>
</FilesMatch>